<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>C O O L   B E A N S</title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script defer src="../script.js"></script>
  </head>
  <body>
    <div container>
      <h1>🧊 Cool Beans 🧊</h1>

      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Beans</th>
          <th>Email</th>
          <th>Ssn</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        {{ADMIN}}
      </table>
  </body>
</html>
