<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>C O O L   B E A N S</title>
    <link href="../index.css" rel="stylesheet" type="text/css" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script defer src="../script.js"></script>
  </head>
  <body>
    <div container>
      <h1>🧊 Cool Beans 🧊</h1>

      <p>thank you {{NAME}}, your order for {{BEANS}} beans has gone through!</p>
      <p>please obsessively check your email (<span glow>{{EMAIL}}</span>) untill you recive the tracking number</p>
      <br><br>
      <p>feel free to stare at darren the moose while you wait</p>
      <img moose-image src="/moose.jpeg"></img>
  </body>
</html>
