<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>C O O L   B E A N S</title>
    <link href="../index.css" rel="stylesheet" type="text/css" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script defer src="../script.js"></script>
  </head>
  <body x-data="{beans: localStorage.getItem('beans')}">
    <div container>
      <h1>🧊 Cool Beans 🧊</h1>

      <p>Thanks for shoping coolbeans.biz, the premium supplyer of chilled beanes sinces 1993!</p>
      <p>To compleate your order of <span glow x-text="beans">5</span> beans complete the following form.</p>
      <button x-on:click="window.location = '/'">go home</button>
      <button x-on:click="window.location = 'https://connorcode.com'">my web site</button>
      <br /><br /><br />

      <form action="" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required><br/>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required><br/>
        <label for="ssn">SSN</label>
        <input type="text" id="ssn" name="ssn" required><br/>
        <input type="hidden" name="beans" value="5" bean-info>
        <input type="hidden" name="check-code" value="{{CHECK_CODE}}">
        <input type="submit" value="order">
      </form>

      <script defer>
        document.querySelector('[bean-info]').outerHTML = `<input type="hidden" name="beans" value="${localStorage.getItem('beans')}" bean-info>`;
      </script>
  </body>
</html>
